
<main id="about">
    <div class="about mt-5">
        <div class="container">

            
            <h1 class="fw-bold text-center h1-responsive my-2 ">
                About Us
            </h1>
            <hr>
            
            <h4 class="fw-bold text-md-left h1-responsive my-2 ">
                Our History
            </h4>

            <div class="row pt-3 ">

                <div>
                    <p class="lh-base">Launched in 2002, Vidyalaya provides an end-to-end cloud management solution for educational institutions. 
                        Fully lined with Office 365, Google G-Suite, LMS, and various other systems, our comprehensive ERP platform meets all of 
                        the educational institution’s demands via a variety of capabilities. Our ERP software also helps build strong communication 
                        and collaboration channels with teachers, students, parents, candidates, and alumni. Since its launch, 1800+ educational institutions
                         have been using this software to manage admissions, sales, registration, timetabling, academic, learning, finance, payments, transportation,
                          and library operations effectively. Vidyalaya ERP is used by most of the reputed educational institutes in 23+states and 8+ countries worldwide.</p>
                

                          <h4 class="fw-bold text-md-left h1-responsive my-2 ">
                            Mission
                          </h4>
                    <p> Our Mission is to deliver cost-effective and reasonable ERP solutions for educational institutions worldwide. With maximum attention, we aim to provide an 
                    outstanding ERP system to educational institutions for enhancing and streamlining their day-to-day tasks.</p>

                    <h4 class="fw-bold text-md-left h1-responsive my-2 ">
                        Why Us?
                      </h4>
                    <p>
                        A perfect school management software has speed, security, accuracy, and a wide range of functions and modules. More than 1300+ schools around the country rely 
                        on our comprehensive product and exceptional service. We have a global client base of happy customers.</p>

                        <p>Our school management software uses cloud computing to store data that can be accessed at any time. Also, data backup is automated, so data recovery is not an issue.</p>
                
                        <P>Save and keep data on decentralized databases does not guarantee data security or recovery. Our school ERP system uses the cloud to store data, saving time and providing 
                            advantages like dependability, portability, backup, and high speed</P>
                    </div>
            </div>

        </div>
    </div>
</main>

