<h4 class="d-flex justify-content-center pt-4 text-decoration-underline fw-bold">Student Information</h4>

<div class=" text-decoration-none mt-4 mx-4">
    <ul class="me-0 mb-2 mb-lg-0 mx-2 d-flex list-group list-group-horizontal">
        <li class="list-group-item list-group-item-white">
            <a class="btn btn-outline-success fw-bold" routerLink="add"><i class="fa-solid fa-plus px-1 rounded-circle "></i>Add Details</a>
        </li>
        <li class="list-group-item list-group-item-warning">
            <a class="btn btn-outline-danger fw-bold " routerLink="students" role="button">View Students</a>
        </li>
      
    </ul>
</div>

<router-outlet></router-outlet>

