<app-services></app-services>

<router-outlet></router-outlet>




<div class="col-md-6 offset-md-3 my-4 justify-content-center container h-auto w-80">
    <h4 class="d-flex justify-content-center">Delete Students</h4>
    <form #deleteform="ngForm" class="container" (ngSubmit)="deletedata(deleteform)">
        <div class="form-group">
            <label>Id</label>
            <input type="number" class="form-control dis" id="sid" #sid (ngModel)="sid" name="sid">
        </div>
        <pre></pre>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="sname" #sname (ngModel)="sname" name="sname">
        </div>
        <pre></pre>

        <button type="submit" class="btn btn-primary">Delete</button>

    </form>
</div>