<header class="text-center text-lg-start bg-dark text-white " id="home">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: coral; ">
        <div class="container-fluid">
            <a class="navbar-brand me-5 mx-5 d-flex justify-content-center align align-items-center fw-bold" routerLink="">
                Student Management System
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item text-white">
                        <a class="nav-link fw-bold text-dark" aria-current="page" routerLink=""
                            routerLinkActive="active-link">Home</a>
                    </li>
                   
                    <li class="nav-item text-white">
                        <a class="nav-link fw-bold text-dark" routerLink="services" routerLinkActive="active-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-dark" routerLink="contact" routerLinkActive="active-link">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-dark" routerLink="about" routerLinkActive="active-link">About Us</a>
                    </li>
                    
                </ul>

                <div class="nav navbar-right d-flex justify-content-center align-items-center ">
                    
                    <button class="btn btn-outline-info btn-sm apl_btn d-none d-md-block fw-bold mx-2" type="submit"><a
                            routerLink="" class="text-dark">Login</a>
                    </button>

                    
                    <button class="btn btn-outline-success btn-sm apl_btn d-none d-md-block fw-bold mx-2" type="submit"><a
                            routerLink="" class="text-dark ">Register</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>